<td>{{receita._id}}</td>
<td>{{receita.nomeUtente}}</td>
<td>{{receita.nomeMedico}}</td>
<td>{{receita.data}}</td>
<td>{{receita.emitida}}</td>
<td class="pull-right">
  <a [routerLink]="['/receitas', receita._id]" class="label label-default ">
    <i class="fa fa-eye"></i> Ver</a>
  <a href="#" class="label label-default ">
    <i class="fa fa-pencil"></i> Editar</a>
  <a href="#" class="label label-danger ">
    <i class="fa fa-trash"></i> Apagar</a>
</td>