<h2>My Medicamentos</h2>

<div>
  <label>Medicamento name:
    <input #medicamentoName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(medicamentoName.value); medicamentoName.value=''">
    add
  </button>
</div>

<ul class="medicamentos">
  <li *ngFor="let medicamento of medicamentos">
    <a routerLink="/detail/{{medicamento.id}}">
      <span class="badge">{{medicamento.id}}</span> {{medicamento.name}}
    </a>
    <button class="delete" title="delete medicamento"
    (click)="delete(medicamento)">x</button>
  </li>
</ul>
