<div class="table-responsive">
<table class="table table-hover ">
    <thead>
    <tr>
        <th>ID</th>
        <th>Apresentacao</th>
        <th>Data Validade</th>
        <th>Quantidade</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prescricao of prescricoes" [gr-prescricao]="prescricao"></tr>
    </tbody>
</table>
</div>