<div class="page-wrapper">
  <div class="page-container">
    <section class="content-wrapper">

      <h2>Inserir Comentário Farmacos</h2>

      <div class="maincontent">
        <br>
        <div class="panel panel-default">

          <div class="panel-body">
            <div class="filterbar">
              <form [formGroup]="rForm" (ngSubmit)="addComentario(rForm.value)">
                <div class="row">
                  <div class="col-sm-9">
                    <p>
                      <label>Farmaco ID:</label> {{farmaco?._id}}</p>
                    <div class="form-group">
                      <label for="comentario">Comentário</label>
                      <textarea class="form-control" formControlName="comentario" id="comentario" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <input class="btn btn-primary btn-md btn-block" type="submit" value="Inserir">
                    </div>
                  </div>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>


    </section>
  </div>
</div>