<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand">
          <b>GR</b>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a [routerLink]="['/apresentacoes']">Apresentações</a>
          </li>
          <li routerLinkActive="active">
            <a *ngIf="userInfo && (userInfo.medico)" [routerLink]="['/receitas/medicoid']">Receitas</a>
            <a *ngIf="userInfo && (userInfo.farmaceutico)" [routerLink]="['/receitas']">Receitas</a>
            <a *ngIf="userInfo && (userInfo.utente && !userInfo.medico && !userInfo.farmaceutico)" [routerLink]="['/receitas/pacienteid']">Receitas</a>
          </li>
          <li routerLinkActive="active">
            <a *ngIf="userInfo && (userInfo.medico)" [routerLink]="['/farmacos']">Farmacos</a>
          </li>
          <li routerLinkActive="active">
            <a *ngIf="userInfo && !userInfo.medico && !userInfo.farmaceutico" [routerLink]="['/apresentacoes/pacientes/pacienteId']">Minhas Posologias</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/about']">Sobre</a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf="!userInfo" routerLink="/login">Login</a>
        </li>
        <li>
          <a *ngIf="userInfo" routerLink="/login">Logout</a>
        </li>
        <li>
          <a routerLink="/signup">Signup</a>
        </li>
      </ul>
      <!-- /.navbar-collapse -->

    </div>
  </nav>
</header>