<td>{{farmaco?._id}}</td>
<td>{{farmaco?.descricao}}</td>
<td class="pull-right">
    <a [routerLink]="['/farmacos', farmaco._id]" class="label label-default ">
      <i class="fa fa-eye"></i> Ver</a>
  </td>