<div *ngIf="medicamento">
  <h2>{{ medicamento.name | uppercase }} Details</h2>
  <div><span>id: </span>{{medicamento.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="medicamento.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
