<section class="content-header">
  <h1>Sobre</h1>
</section>
<section class="content">
  <p class="lead">
    GR | Aplicação em Angular que disponibiliza uma gestão de receitas médicas online
  </p>
  <br>
  <br>
  <p class="lead">Trabalho realizado por:</p>
  <div>
    <p>André Pedrosa - 1071205</p>
    <p>Inês Pinto - 1130760</p>
    <p>Maria Sousa - 1130376</p>
  </div>
  <br>
  <br>
  <br>
  <p class="lead">Copyright 2017 ISEP (
    <a href="http://www.isep.pt">http://www.isep.pt</a>)</p>

</section>