<div class="page-wrapper">
    <div class="page-container">
      <section class="content-wrapper">
  
        <h2>Receitas</h2>
        <div class="maincontent">
          <div class="actionbtns">
            <a *ngIf="userInfo && (userInfo.medico)" href="#" class="btn btn-primary btn-lg">
              <i class="fa fa-pencil"></i> Adicionar Receita</a>

          </div>
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-filter"></i> Procurar</div>
            <div class="panel-body">
              <div class="filterbar">
                <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                  <div class="form-container">
                  <div class="row">
                    <div class="col-sm-9">
                      <div class="form-group">
                        <div class="searchholder">
                          <input type="text" class="form-control" formControlName="receitaId" placeholder="Receita Id">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <input class="btn btn-primary btn-md btn-block" type="submit" value="Procurar">
                      </div>
                    </div>
                  </div>
                 </div>
                </form>
              </div>
              <div class="table-responsive">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Utente</th>
                      <th>Medico</th>
                      <th>Data</th>
                      <th>Emitida</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let receita of receitas" [gr-receita]="receita"></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
        </div>
      </section>
    </div>
  </div>