<td>{{prescricao._id}}</td>
<td>{{prescricao.apresentacao}}</td>
<td>{{prescricao.dataValidade}}</td>
<td>{{prescricao.quantidade}}</td>
<td class="pull-right">
  <a [routerLink]="['/receitas/id/prescricao', prescricao._id]" class="label label-default ">
    <i class="fa fa-eye"></i> Ver</a>
  <a href="#" class="label label-default ">
    <i class="fa fa-pencil"></i> Editar</a>
  <a href="#" class="label label-danger ">
    <i class="fa fa-trash"></i> Apagar</a>
</td>