<div class="wrapper">

  <gr-header></gr-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>ISEP - 2017</b>
      </div>
      <strong>GR</strong> Angular Application
    </div>
  </footer>
</div>