<div class="page-wrapper">
  <div class="page-container">
    <section class="content-wrapper">

      <h2>Apresentações de Medicamentos</h2>
      <div class="maincontent">
        <br>
        <div class="panel panel-default">

          <div class="panel-body">

            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Medicamento</th>
                    <th>Farmaco</th>
                    <th>Posologia</th>
                    <th>Dosagem</th>
                    <th>Formato</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let apresentacao of apresentacoes" [gr-apresentacao]="apresentacao"></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>