<td>{{apresentacao?._id}}</td>
<td>{{apresentacao?.nomeMedicamento}}</td>
<td>{{apresentacao?.nomeFarmaco}}</td>
<td>{{apresentacao?.posologia}}</td>
<td>{{apresentacao?.dosagem}}</td>
<td>{{apresentacao?.formato}}</td>