<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>Bem-vindo ao GR</h1>
    <p>
      Gestão de Receitas
    </p>
    <!--<a class="btn btn-primary btn-lg" [routerLink]="['/receitas']">Entrar</a>-->
    <a class="btn btn-primary btn-lg" [routerLink]="['/apresentacoes']">Apresentações</a>
  </div>

</section>