<h3>Top Medicamentos</h3>
<div class="grid grid-pad">
  <a *ngFor="let medicamento of medicamentos" class="col-1-4"
      routerLink="/detail/{{medicamento.id}}">
    <div class="module medicamento">
      <h4>{{medicamento.name}}</h4>
    </div>
  </a>
</div>

<app-medicamento-search></app-medicamento-search>
