<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1">
      <div class="panel panel-default main">

        <div class="panel-body">

          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h3>From</h3>
              <p><label>Medico ID:</label> {{receita?.medico}}</p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <h1>Receita</h1>

            </div>
          </div>
          <!--row-->

          <hr>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <h3>To</h3>
              <p>
                <label>Utente ID:</label> {{receita?.utente}}</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <p>
                <label>Receita ID:</label> {{receita?._id}} </p>
              <p>
                <label>Data:</label> {{receita?.data | date:'dd.MM.yyyy'}}</p>
              <p>
                <label>Emitida:</label> {{receita?.emitida}}</p>
            </div>
          </div>
          <!--row-->

          <gr-prescricoes></gr-prescricoes>

        </div>


      </div>
      <a href="#" class="btn btn-primary btn-lg">
        <i class="fa fa-upload"></i> Emitir Receita </a>
    </div>
  </div>
</div>