<div class="page-wrapper">
    <div class="page-container">
      <section class="content-wrapper">
  
        <h2>Farmacos</h2>
        <div class="maincontent">
          <br>
          <div class="panel panel-default">
  
            <div class="panel-body">
              <div class="filterbar">
                <form class="">
                  <div class="row">
                    <div class="col-sm-9">
                      <div class="form-group">
                        <div class="searchholder">
                          <input type="text" class="form-control" placeholder="Apresentacao Id">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <button class="btn btn-primary btn-md btn-block" type="button">
                          <i class="fa fa-filter"></i> Procurar</button>
                      </div>
                    </div>
                  </div>
  
                </form>
              </div>
              <div class="table-responsive">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Descricao</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let farmaco of farmacos" [gr-farmaco]="farmaco"></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
        </div>
      </section>
    </div>
  </div>