<div id="search-component">
  <h4>Medicamento Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let medicamento of medicamentos$ | async" >
      <a routerLink="/detail/{{medicamento.id}}">
        {{medicamento.name}}
      </a>
    </li>
  </ul>
</div>
